body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ce2229;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.header-left img {
    max-width: 50px; /* Adjust the maximum width of your logo */
    margin-right: 10px;
}

.header-left h1 {
    margin: 0;
}

.header-middle a {
    margin-right: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.header-right img {
    max-width: 30px; /* Adjust the maximum width of your phone icon */
    margin-right: 10px;
}

.phone-number {
    font-weight: bold;
    font-size: 28px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.slideshow-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
}

.bkrndImgSlides {
    display: none;
}

img {
    width: 100%;
    height: auto;
}

.fade {
    animation: fade 2s ease-in-out infinite;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #ce2229;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
