/* CSS Style Guide */
/* All comments go at the top */

/* Animation seems to introduce lag at the moment  */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

header {
    background-color: #ce2229;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.header-left img {
    max-width: 50px;
    margin-right: 10px;
}

.header-left h1 {
    margin: 0;
}

.header-middle a {
    margin-right: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.header-right img {
    max-width: 30px;
    margin-right: 10px;
}

.phone-number {
    font-weight: bold;
    font-size: 28px;
}

.slider {
    overflow: hidden;
}

figure.slider {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

img.slider {
    float: left;
    width: 20%;
}

footer {
    background-color: #ce2229;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 35px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
